// 変数定義
$white-color:#fcfcfc;

.v-toolbar__content, .v-btn {
  color : $white-color;
  a {
      color: $white-color !important;
      text-decoration: none;
  }
}

.v-form {
  max-width: 300px;
}

.error-msg li {
  list-style: none;
  color: #e73562;
  text-align: left;
}